<% var svgSprites = {};

_.forEach(svg, function(svgItem) {
    svgSprites[svgItem.name] = {
        height: svgItem.height,
        width: svgItem.width,
        viewBox: svgItem.viewBox,
    };
});

svgSprites = JSON.stringify(svgSprites, null, '\t') %><%= svgSprites %>